<div class="col-lg-6">
    {{#each hbsObject.user.subscribed}}
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">{{this.body.team}}</h6>
        </div>
        <div class="card-body">
          {{#if this.body.gameToday}}
            <div>We have a game today!</div>
            <div>Subscribed to email: {{this.body.email}}</div>
            <div>Subscribed to text: {{this.body.text}}</div>
            <div>Subscribed: {{momentFromTimeNow this.body.date}}</div>
            <div>Game Today: {{this.body.gameToday}}</div>
            {{else}}
            <div>no game, show next game</div>
            {{#each this.body.nextGame.teams}}
              <div>{{this.name}}</div>
              <div>{{this.venue.city}}</div>
              <div>{{this.venue.name}}</div>
              {{#each this.nextGameSchedule.dates}}
                <div>{{daysUntil this.date}}</div>
                {{#each this.games}}
                  <div>{{momentFromTimeNow this.gameDate}}</div>
                  <div>{{this.teams.away.team.name}}</div>
                  <div>{{this.teams.away.leagueRecord.wins}}</div>
                  <div>{{this.teams.away.leagueRecord.losses}}</div>
                  <div>{{this.teams.away.leagueRecord.ot}}</div>
                  <div>{{this.teams.home.team.name}}</div>
                  <div>{{this.teams.home.leagueRecord.wins}}</div>
                  <div>{{this.teams.home.leagueRecord.losses}}</div>
                  <div>{{this.teams.home.leagueRecord.ot}}</div>
                {{/each}}
              {{/each}}
            {{/each}}
          {{/if}}
        </div>
      </div>
    {{/each}}
</div>